.edit-profile {
    .uk-container {
        form.edit_user {
            width: 50%;
            margin: 0 auto;
        }
        .edit-profile-bottom {
            width: 50%;
            margin: 0 auto;
        }
    }
}