.login-chapter {
    text-align: center;
    .uk-container {
        form {
            .uk-fieldset {
                width: 50%;
                margin: 0 auto;
            }
            div#error_explanation {
                ul > li {
                    list-style: none;
                }
            }
        }
    }
}