@font-face {
    font-family: "Montserrat-Thin";
    src: font-url("fonts/Montserrat/Montserrat-Thin.ttf") format("ttf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: font-url("fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: font-url("fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: font-url("fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: font-url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Black";
    src: font-url("fonts/Montserrat/Montserrat-Black.ttf") format("ttf");
    font-weight: bold;
}