<div class="uk-section uk-section-default special-info-chapter">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-expand@s" uk-grid>
            <div>
                <%= render partial: 'documents/search' %>
            </div>
            <div>
                <%= render partial: 'specialinfos/specialinfo' %>
            </div>
            <div>
                <%= render partial: 'reports/reports' %>
            </div>
        </div>

    </div>
    </div>
</div>
<div class="underline_chapter"></div>