<h1>Full Documents</h1>
<%# @documents.each do |document| %>
    <h3><%#= document.title %> </h3>
    <h3><%#= document.body %> </h3>
<%# end %>
<%#= render :partial => "documents/fulldocs", :locals => { :document => @documents } %>