.contact-chapter {
    background-image:linear-gradient(to top,rgba(9, 55, 66, 0.6) , rgba(9, 55, 66, 0.6)), image-url('footer_water.png');
    background-position: 50%;
    height: 65vh;
    .uk-container {
        padding-left: 15px;
        @include mobile-only {
            padding-left: 25px;
        }
        .uk-child-width-1-3 > * {
            width: calc(100% * 1 / 3.001);
            @include mobile-only {
                width: 100%;
            }
        }
        .uk-grid {
            padding-left: 10px;
            @include mobile-only {
                padding-left: 0px;
            }            
            h2 {
                display: flex;
                justify-content: flex-start;
                padding-left: 0px;
                font-size: 36px;
                @include mobile-only {
                    padding-left: 0px;
                    font-size: 42px;
                    font-weight: bold;
                }
            }
            .uk-width-2-3 {
                padding-left: 25px;
                @include mobile-only {
                    padding-left: 15px;
                }
                .uk-child-width-1-3 {
                    
                    div {
                        ul > li {
                            font-size: 14px;
                            font-weight: lighter;
                            color: #fff;
                            @include mobile-only {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    h2 {
        color: #fff;
    }

}