@import "../partials/variables";
@import "../general/fonts";

header {
    background-image: image-url('header.png');
    background-position: 50%;
    height: 100vh;
    position: relative;
    nav {
        padding-top: 20px;
        z-index: 2;
        .uk-navbar-left > ul {
            margin-left: 15px;
        }
        .uk-navbar-right > ul {
            margin-right: 15px;
            li {
                margin-right: 15px;
            }
        }
        .uk-navbar-nav > li > a {
            color: #fff;
            height: 45px;
            /*
            &:hover:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 100%;
                border-bottom: 1px solid #222;
                transition: right .3s ease-out;
            }
            */
            &:hover {
                color: #fff;
            }
        }
    }
    .title {
        color: #fff;
        margin-top: 0px;
        z-index: 2;
        font-weight: bold;
        @include mobile-portrait-and-below {
            font-size: 15px;
        }
        @include mobile-landscape-and-up {
            font-size: 20px;
        }
        @include tablet-landscape-and-up {
            font-size: 25px;
        }
        @include desktop-and-up {
            font-size: 35px;
        }
    }
    .button-down {
        color: #fff;
        border:none;
        z-index: 2;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
        }
        &.selected {
            color: #fff;
        }
    }
}

#modal-close-default {
    .uk-modal-dialog {
        .uk-modal-title {
            text-align: center;
        }
        .popup-sign-block {
            display: block;
        }
    }
}
div.partial-header {
    p {
        color: blue;
        font-family: Montserrat-Black;
    }
    .second_test {
        font-family: Montserrat-Light;
        color: red;
    }
}
header:after {
    content: "";
    background-color: #00454c;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: 1;
}