.special-info-chapter {
    background: #70b1b5;
    .uk-container {
               
        .uk-grid-large {
            .uk-card-default {
                background: #fff;
                color: #000;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
            }
            .uk-card {
                background: #70b1b5;
                h2 {
                    height: 50px;
                    color: #fff;
                    display: flex;
                    align-items: flex-end;
                }
                .uk-margin {
                    form {                        
                        span {
                            color: #fff;
                        }
                        ::placeholder {
                            color: #fff;
                            font-size: 14px;
                        }   
                        input {
                            
                            height: 25px;
                        }
                        width: 100%;                        
                    }
                }
            }
        }
    }
}